<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <section class="author section">
        <h2 class="author__title title">This Webpage Is <span class="title-black">Designed By</span> </h2>

        <div class="author__box">
          <img class="author__img" src="images/logo.svg" alt="логотип">
          <span class="author__name">
            Ali Sayed
          </span>
          <span class="author__position">
            Graphic Designer
          </span>
        </div>

      </section>

      <section class="contacts section">
        <div class="contacts__content">
          <h2 class="contacts__title title">Say <span class="title-black">‘Hello’</span></h2>
          <form class="contacts__form" action="#">
            <label class="contacts__label">
              <input class="contacts__input" type="text" placeholder="Your Name" required>
            </label>
            <label class="contacts__label">
              <input class="contacts__input" type="email" placeholder="Your Email" required>
            </label>
            <label class="contacts__label contacts__label--textarea">
              <textarea class="contacts__input contacts__input--textarea" placeholder="Your Message Here ..."
                required></textarea>
            </label>
          </form>

          <div class="contacts__social social">
            <p class="social__text">
              Stay Connnected With Us...
            </p>

            <ul class="social__list">

              <li class="social__item">
                <a class="social__link social__link--facebook" href="#">
                  <span class="social__icon" style="-webkit-mask-image: url('images/sprite.svg#facebook-icon');"></span>
                  <span class="sr-only">facebook страничка</span>
                </a>
              </li>

              <li class="social__item">
                <a class="social__link social__link--dribbble" href="#">
                  <span class="social__icon" style="-webkit-mask-image: url('images/sprite.svg#dribbble-icon');"></span>
                  <span class="sr-only">instagram страничка</span>
                </a>
              </li>

              <li class="social__item">
                <a class="social__link social__link--twitter" href="#">
                  <span class="social__icon" style="-webkit-mask-image: url('images/sprite.svg#twitter-icon');"></span>
                  <span class="sr-only">instagram страничка</span>
                </a>
              </li>

            </ul>
          </div>

          <p class="contacts__text">
            Please Feel Free To Contat With me For Any Kind of Prject.
          </p>

        </div>

      </section>
    </div>
  </div>
</footer>