<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__background">
        <img class="header__img" src="images/header-bg.jpg" alt="Девушка с собакой">
      </div>
      <div class="header__content">
        <button class="header__btn"><span class="sr-only">Меню</span></button>
        <h1 class="header__title"><span class="title-light">Ali Sayed’s</span> 
          <span class="title-bold">Web Designing </span>Project
        </h1>
        <div class="header__text">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
          <p>quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dol.</p>
        </div>
      </div>
    </div>

  </div>
</header>